Django
pandas
beautifulsoup4
selenium
environ
django-environ
html5lib
psycopg2-binary
pytest
pytest-mock
pytest-django
docker
celery
redis
eventlet
django-bootstrap-v5
django-crispy-forms
crispy-bootstrap5
statsmodels

