<html>
<head>
    <title>Result</title>
</head>
<body>
    <h1>Task ID: {{ task_id }}</h1>
        <p>Calculating...</p>
        
        <p>{{ result }}</p>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Article name</th>
            <th>Discount price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.item_id }}</td>
                <td>{{ item.article_name }}</td>
                <td>{{ item.discount_price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>






