{% extends 'base.html' %}
{% load crispy_forms_tags %}

<body>
    {% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="mb-3">
                <form method="POST" action="{% url 'requests' %}">
                    {% csrf_token %}
                    {{ user_request_form|crispy }}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input  class="btn btn-primary btn-lg" type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>

    