{% extends 'base.html' %}
{% load crispy_forms_tags %}

<body>
  {% block content %}
  <div class="container-1">
      <div class="row justify-content-center">
          <div class="text-center">
            <h3>Reset password</h3>
            <p>Did you forget your password? No problem! Complete the form and you will receive an email that will allow you to change your password.</p>
              <div class="container" >
                  <form method="POST" action="">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input  class="btn btn-primary" type="submit" value="Reset my password"/>
                    </div>
                    <div class="container-3">
                      {% for message in messages %}
                      <p id="messages">{{message}}</p>
                      {% endfor %}
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  {% endblock content %}
</body>

