{% extends 'base.html' %}
{% block content %}

<div>
<h3>Password change</h3>
</div>
<div>
<p>Please enter your old password, for security’s sake, 
  and then enter your new password twice so we can verify you typed it in correctly.
</p>
</div>
<div>
<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <div>
      <button>Change my password</button>
    </div>
    <div>
      {% for message in messages %}
      <p id="messages">{{message}}</p>
      {% endfor %}
  </div>
</form>
</div>

{% endblock %}