{% extends 'base.html' %}

<body>
  {% block content %}
  <div class="container-1">
    <div class="text-center">
      <div class="container">
        <h3>Password has been changed</h3>
        <p>Your password has been changed. You can log in using your new password.</p>
      </div>
      <div class="container">
        <div class="d-grid gap-2 d-md-block auto">
          <input  class="btn btn-primary" onclick="toLogin()" type="submit" value="Log in"/>
        </div> 
      </div>
    </div>
  </div>
 

  {% block javascript %}
    <script>
        function toLogin() {
        window.location.href = "/login/";
        }
     </script>
  {% endblock javascript %} 
  {% endblock content %}
</body>

